@import "tailwindcss";

@layer components {
	.main-container {
		@apply absolute left-0 top-0 bg-no-repeat;
		background-image: url("/img/main-bg.png");
		width: 1920px;
		height: 1080px;
	}
	.header-container {
		background-image: url("/img/header-bg.png");
		@apply h-[136px] flex justify-center bg-no-repeat;
	}
	.block-container {
		background-image: url("/img/block-bg.png");
		@apply p-2.5 pb-4 w-[510px] h-[464px]  bg-no-repeat flex flex-col gap-3;
	}
	.p1-block-container {
		/*background-image: url("/img/p1-block-bg.png");*/
		@apply p-3 flex justify-between items-center w-[218px] h-[90px] bg-no-repeat;
	}
	.main-font {
		@apply relative h-10 bg-clip-text text-[40px] text-transparent mt-4 font-semibold leading-none bg-gradient-to-b from-[#ffffff] to-[#2196FA];
	}
	.sub-font {
		@apply inline bg-clip-text text-lg text-transparent font-semibold leading-none bg-gradient-to-b from-[#ffffff] to-[#84C6FF];
	}
	.rect-container {
		background-image: url("/img/rect-bg.png");
		@apply w-[132px] h-[154px] bg-no-repeat;
	}
	.population-container {
		background-image: url("/img/population-bg.png");
		@apply w-[390px] h-[70px] bg-no-repeat;
	}
	.gender-container {
		background-image: url("/img/gender-bg.png");
		@apply w-[194px] h-[57px] bg-no-repeat;
	}
}
