@import "tailwindcss";

@layer base {
	body {
		@apply bg-[#011736]
		
	}
}

@layer components {
	.main-container {
		@apply absolute left-0 top-0 bg-no-repeat;
		background-image: url("/img/main-bg.png");
		width: 1920px;
		height: 1080px; 
	}
	.header-container {
		background-image: url("/img/header-bg.png");
		@apply h-[136px] flex justify-center bg-no-repeat;
	}
	.main-return{
		background-image: url("/img/bg-return.png");
		@apply w-[128px] h-[31px]  bg-no-repeat bg-contain   ;
	}
	.block-container {
		background-image: url("/img/block-bg.png");
		@apply p-2.5 pb-4 w-[510px] h-[464px]  bg-no-repeat flex flex-col gap-3;
	}
	.p1-block-container {
		/*background-image: url("/img/p1-block-bg.png");*/
		@apply p-3 flex justify-between items-center w-[218px] h-[90px] bg-no-repeat;
	}
	.main-font {
		@apply relative h-10 bg-clip-text text-[40px] text-transparent mt-4 font-semibold leading-none bg-gradient-to-b from-[#ffffff] to-[#2196FA];
	}
	.sub-font {
		@apply inline bg-clip-text text-lg text-transparent font-semibold leading-none bg-gradient-to-b from-[#ffffff] to-[#84C6FF];
	}
	.rect-container {
		background-image: url("/img/rect-bg.png");
		@apply w-[132px] h-[154px] bg-no-repeat;
	}
	.population-container {
		background-image: url("/img/population-bg.png");
		@apply w-[390px] h-[70px] bg-no-repeat;
	}
	.gender-container {
		background-image: url("/img/gender-bg.png");
		@apply w-[194px] h-[57px] bg-no-repeat;
	}
	.map-container {
		background-image: url("/img/map-bg.png");
		@apply bg-no-repeat bg-center;
	}
	.bottom-container {
		background-image: url("/img/bottom-bg.png");
		@apply w-[810px] h-[130px] bg-no-repeat;
	}
	.bottom-data-text {
		background-image: url("/img/bg-data-text.png");
		@apply w-[100px] h-[28px] bg-no-repeat bg-center;
	}
	.bottom-data {
		background-image: url("/img/bg-data.png");
		@apply bg-center bg-no-repeat;
		background-position-y: 14px;
	}
	.tooltip-container {
		@apply bg-transparent p-0;
	}
	.map-tooltip {
		background-image: url("/img/map-item.png");
		@apply w-[196px] h-[173px] bg-transparent! bg-no-repeat bg-right p-4;
	}
	.point {
		background-image: url("/img/point.png");
		@apply size-5 bg-no-repeat bg-center;
	}
}
